* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
a:hover,
a:active {
  color: #FF6565;
}

button:hover,
button:active {
  opacity: 0.9;
}
@media screen and (max-width: 480px) {
  /* Adjust layout, font sizes, hide/show elements */
}
